<div class="" role="tabpanel" data-example-id="togglable-tabs">
  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <% params[:ci_group].uniq.each_with_index do |r,i| %>
      <li role="presentation"><a href="#<%= params[:ci_name]+i.to_s %>" role="tab" data-toggle="tab" aria-expanded="<%= i==0 ? 'true' : 'false' %>"><%= r %></a>
      </li>
    <% end %>
  </ul>
  <div id="myTabContent" class="tab-content">
    <% params[:ci_group].uniq.each_with_index do |r,i| %>
      <div role="tabpanel" class="<%= i==0 ? 'tab-pane fade active in' : 'tab-pane fade' %>" id="<%= params[:ci_name]+i.to_s %>">
        <%= render 'ci_table', params: {ci_data: params[:ci_data].where("cid like ?", "%#{r}%")} %>
        <canvas id='<%= "#{params[:ci_name]}_#{i}" %>_lineChart'></canvas>
      </div>
    <% end %>
  </div>
</div>
