<table id="datatable-buttons" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>å¯¦é©—</th>
      <th>èªªæ˜Ž</th>
      <th>è¨»è¨˜ (shift + enter)</th>
      <th>æª”</th>
      <th>éŒ¯èª¤çŽ‡</th>
    </tr>
  </thead>
  <tbody>
    <% params[:ci_data].each do |r| %>
      <tr>
        <td><%= link_to "#{r.jid}", "http://10.32.0.120/job/#{r.jid}" %></td>
        <td><%= r.info %></td>
        <td>
          <%= form_for r, method: "patch" do |f| %>
            <%= f.text_area :label, size: '100%', class: 'label_area'%>
          <% end %>
        </td>
        <td>
          <%= link_to 'ðŸ’¿', "http://10.32.0.120/job/#{r.jid}/docker", title: 'docker' %>
          <%= link_to "ðŸŽ", "https://github.com/twgo/#{r.jid.split('/')[0]}/commit/#{r.cid.split('"')[3]}", title: 'code' %>
        </td>
        <td><%= "#{r.rate}%" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
