<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>TWGO-EXP</span></a>
          </div>

          <div class="clearfix"></div>


          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> 聲學實驗 <span class="fa fa-chevron-down"></span></a>
                </li>
                <li><a><i class="fa fa-edit"></i> 設定 <span class="fa fa-chevron-down"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->
        </div>
      </div>
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>聲學實驗</h3>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>實驗集</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <%= link_to 'Refresh', refresh_rounds_path %>
                  <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>實驗</th>
                        <th>程式</th>
                        <th>說明</th>
                        <th>註記</th>
                        <th>檔</th>
                        <th>錯誤率</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% @rounds.each do |r| %>
                      <tr>
                        <td><%= link_to "#{r.jid}", "http://10.32.0.120/job/#{r.jid}" %></td>
                        <td><%= link_to "#{r.cid.split('"')[-2]}", "https://github.com/twgo/#{r.jid.split('/')[0]}/commit/#{r.cid.split('"')[3]}" %></td>
                        <td><%= r.info %></td>
                        <td>
                          <%= form_for r, method: "patch" do |f| %>
                            <%= f.text_field :label  %>
                            <% f.submit 'update' %>
                          <% end %>
                        </td>
                        <td><%= link_to '💿', "http://10.32.0.120/job/#{r.jid}/docker" %></td>
                        <td><%= "#{r.rate}%" %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>實驗趨勢圖</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <canvas id="lineChart"></canvas>
                  <canvas id="lineChart_g"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
      </div>
      <!-- /page content -->

      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          IIS leo424y
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>
<%= content_tag :div, id: "ci_key", data: {temp: @rounds.select{ |m| m.jid.start_with? 'siann1-hak8_boo5-hing5' }.pluck(:jid).map{|a|a.split('/')[-1]}} do %>
<% end %>
<%= content_tag :div, id: "ci_value", data: {temp: @rounds.select{ |m| m.jid.start_with? 'siann1-hak8_boo5-hing5' }.pluck(:rate).map(&:to_i)} do %>
<% end %>
<%= content_tag :div, id: "ci_key_g", data: {temp: @rounds.select{ |m| m.jid.start_with? 'gi2-gian5_boo5-hing5' }.pluck(:jid).map{|a|a.split('/')[-1]}} do %>
<% end %>
<%= content_tag :div, id: "ci_value_g", data: {temp: @rounds.select{ |m| m.jid.start_with? 'gi2-gian5_boo5-hing5' }.pluck(:rate).map(&:to_i)} do %>
<% end %>

  <script>
  			if ($('#lineChart').length ){
  			  var ctx = document.getElementById("lineChart");
  			  var lineChart = new Chart(ctx, {
  				type: 'line',
  				data: {
  				  labels: $('#ci_key').data('temp').reverse(),
  				  datasets: [{
  					label: "聲學實驗",
  					backgroundColor: "rgba(38, 185, 154, 0.31)",
  					borderColor: "rgba(38, 185, 154, 0.7)",
  					pointBorderColor: "rgba(38, 185, 154, 0.7)",
  					pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
  					pointHoverBackgroundColor: "#fff",
  					pointHoverBorderColor: "rgba(220,220,220,1)",
  					pointBorderWidth: 1,
  					data: $('#ci_value').data('temp').reverse()
  				  }]
  				},
  			  });
        }
  			if ($('#lineChart_g').length ){
          var ctx = document.getElementById("lineChart_g");
  			  var lineChart_g = new Chart(ctx, {
  				type: 'line',
  				data: {
  				  labels: $('#ci_key_g').data('temp').reverse(),
  				  datasets: [{
  					label: "語言實驗",
  					backgroundColor: "rgba(38, 185, 154, 0.31)",
  					borderColor: "rgba(38, 185, 154, 0.7)",
  					pointBorderColor: "rgba(38, 185, 154, 0.7)",
  					pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
  					pointHoverBackgroundColor: "#fff",
  					pointHoverBorderColor: "rgba(220,220,220,1)",
  					pointBorderWidth: 1,
  					data: $('#ci_value_g').data('temp').reverse()
  				  }]
  				},
  			  });
  			}
  </script>
