<div class="main_container">
	<%= render 'layouts/nav' %>
	<div class="right_col" role="main">
		<div class="clearfix"></div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="" role="tabpanel" data-example-id="togglable-tabs">
						<ul class="nav nav-tabs bar_tabs" role="tablist">
							<% @experiments.each_with_index do |e,i| %>
								<li role="presentation" class="">
									<a href='#tab_content_<%= e %>' id='ci_tab_<%= e %>' role="tab" data-toggle="tab"><%= e %></a>
								</li>
							<% end %>
						</ul>
						<div class="tab-content">
							<% @experiments.each do |e| %>
								<div role="tabpanel" class="tab-pane fade" id='tab_content_<%= e %>' aria-labelledby='ci_tab_<%= e %>'>
									<%= render 'ci_table_sub', params: { ci_data: instance_variable_get("@ci_data_#{e.gsub('-', '_')}"), ci_name: e, ci_group: instance_variable_get("@ci_data_#{e.gsub('-', '_')}").pluck(:branch), } %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<script>
	$('.label_area').keypress(function (ev) {
		if (ev.which == 13 && ev.shiftKey) {
			$(this).closest('form').submit();
		}
	});
</script>
